﻿@model Services.Identity.Web.ViewModels.Registration.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<div class="container-fluid p-4">
    @* Form container *@
    <div class="w-full max-w-xs">
        <form asp-controller="Registration" asp-action="Register" method="post" class="p-2">

            <h1 class="text-center text-xl pb-2 font-bold"> Register,</h1>

            @* Preserve the return URl *@
            <input type="hidden" asp-for="ReturnUrl"/>

            @* First Name *@
            <div class="mb-2">
                <label for="first-name" class="custom-label">First Name</label>
                <input id="first-name" asp-for="FirstName" class="shadow-input-box"/>
                <span asp-validation-for="Email" class="span-validation"></span>
            </div>

            @* Last Name *@
            <div class="mb-2">
                <label for="last-name" class="custom-label">First Name</label>
                <input id="last-name" asp-for="LastName" class="shadow-input-box"/>
                <span asp-validation-for="Email" class="span-validation"></span>
            </div>

            @* Email *@
            <div class="mb-2">
                <label for="email" class="custom-label">Email</label>
                <input id="email" asp-for="Email" class="shadow-input-box"/>
                <span asp-validation-for="Email" class="span-validation"></span>
            </div>

            @* Password *@
            <div class="mb-2">
                <label for="password" class="custom-label">Password</label>
                <input id="password" asp-for="Password" class="shadow-input-box"/>
                <span asp-validation-for="Password" class="span-validation"></span>
            </div>

            @* Confirm password *@
            <div class="mb-2">
                <label for="confirm-password" class="custom-label">Password</label>
                <input id="confirm-password" asp-for="ConfirmPassword" class="shadow-input-box"/>
                <span asp-validation-for="ConfirmPassword" class="span-validation"></span>
            </div>

            @* Register / Back*@
            <div class="flex items-center justify-between">
                <div>
                    <button asp-controller="Registration" asp-action="Register" id="register-button"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Register
                    </button>
                </div>

                <div>
                    <a asp-controller="Authentication" asp-action="Login" id="forgot-link" asp-route-returnUrl="@Model.ReturnUrl"
                       class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                        Back to Login
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>