﻿@tailwind base;

@tailwind components;

.container-fluid {
    @apply flex content-center justify-center flex-wrap w-screen h-screen;
}

.span-validation {
    @apply py-1 text-red-500;
}

.shadow-input-box {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3;
}

.custom-label {
    @apply block text-gray-700 text-sm font-bold mb-2;
}

@tailwind utilities;