﻿@model Services.Identity.Web.ViewModels.Login.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

@*Flex container*@
<div class="container-fluid p-4">
    @*Form container*@
    <div class="w-full max-w-xs">
        <h1 class="text-center text-xl pb-2 font-bold"> Welcome,</h1>

        @*Form data*@
        <form class="p-2" asp-controller="Authentication" asp-action="Login" method="post">
            <input type="hidden" asp-for="@Model.ReturnUrl"/>

            @*Username*@
            <div class="mb-2">
                <label for="username" class="custom-label">
                    Username
                </label>
                <input asp-for="@Model.Username" id="username" class="shadow-input-box" type="text" placeholder="Username">
                <span asp-validation-for="Username" class="span-validation"></span>
            </div>

            @*Password*@
            <div class="mb-2">
                <label for="password" class="custom-label">
                    Password
                </label>
                <input asp-for="@Model.Password" id="password" class="shadow-input-box" type="password" placeholder="******************">
                <span asp-validation-for="Password" class="span-validation"></span>
            </div>

            @*Sign In / Register / Forgot*@
            <div class="flex items-center justify-between">
                <div>
                    <button type="submit" id="sigin-button"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Sign In
                    </button>
                </div>

                <div>
                    <a asp-controller="Registration" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" id="register-button"
                       class="bg-indigo-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Register
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>